@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Poppins:wght@600&display=swap');

@font-face {
    font-family: "Gilroy";
    src:
      local("Gilroy"),
      url("../fonts/Gilroy.ttf") format('truetype');
}

@font-face {
    font-family: "Google Sans";
    src:
      local("Google Sans"),
      url("../fonts/GoogleSans.ttf") format('truetype');
}
