.privacy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.privacy-left {
    display: flex;
    align-items: center;
}
.privacy-left__item {
    font-family: 'Google Sans', sans-serif;
    color: #86868B;
    font-size: 14px;
    line-height: 18px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    padding: 0 18px;
}
.privacy-left__item:first-child {
    padding: 0 18px 0 0;
}
.privacy-left__item:last-child {
    border-right: none;
}
.privacy-right {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.privacy-right-link {

}
.privacy-right-link__icon {

}
@media (max-width: 1200px) {
    .privacy {
        flex-direction: column;
        padding: 92px 0 56px 0;
    }
    .privacy-left {
        flex-direction: column;
        margin-bottom: 64px;
    }
    .privacy-left__line {
        width: 16px;
        height: 0;
        border: 1px solid rgba(255, 255, 255, .2);
    }
    .privacy-left__item {
        border-right: none;
        padding: 18px 0;
    }
    .privacy-left__item:first-child {
        padding: 0 0 18px 0;
    }
    .privacy-left__item:last-child {
        border-bottom: none;
        padding: 18px 0 0 0;
    }
}