@import "fonts.css";
@import "reset.css";
@import "navbar.css";
@import "footer.css";

.container {
    max-width: 1040px;
    margin: 0 auto;
}
.navbar-container {
    max-width: 1240px;
    margin: 0 auto;
}
