.navbar-wrapper {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    z-index: 10;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}
.navbar-logo {

}
.navbar-logo__img {

}
.navbar-right {
    display: flex;
    align-items: center;
    column-gap: 48px;
}
.navbar-right__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.navbar-right-burger {
    display: none;
}
.navbar-mobile-dropdown {
    display: none;
}
@media (max-width: 1200px) {
    .navbar-wrapper {
        position: relative;
    }
    .navbar {
        padding: 32px 27px;
    }
    .navbar-right {
        display: none;
    }
    .navbar-right-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16px;
    }
    .navbar-right-burger__line {
        width: 24px;
        height: 2px;
        background-color: #000000;
        transition: transform .4s;
    }
    .navbar-wrapper.opened .navbar-right-burger__line:nth-child(2) {
        opacity: 1;
        transition: opacity .2s;
    }
    .navbar-wrapper.opened .navbar-right-burger__line:nth-child(2) {
        opacity: 0;
    }
    .navbar-wrapper.opened .navbar-right-burger__line:first-child {
        transform: translateY(7px) rotate(-45deg);
    }
    .navbar-wrapper.opened .navbar-right-burger__line:last-child {
        transform: translateY(-7px) rotate(45deg);
    }
    .navbar-mobile-dropdown {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        left: 0;
        top: -100%;
        transition: top .2s, transform .2s;
        transform: translateY(-100%);
        z-index: -1;
        display: block;
    }
    .navbar-wrapper.opened .navbar-mobile-dropdown {
        top: 100%;
        transform: translateY(0);

    }
    .navbar-mobile-dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
        padding: 152px 0;
        border-bottom: 1px solid #ECECEC;
    }
    .navbar-mobile-dropdown-menu__item {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
    }
    .navbar-mobile-dropdown-social {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 32px;
        padding: 32px 0;

    }
    .navbar-mobile-dropdown-social-item {

    }
    .navbar-mobile-dropdown-social-item__icon {

    }


}