*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
a {
    color: #000000;
    text-decoration: none;
}
img {
    max-width: 100%;
}
input {
    border: none;
    background: none;
    outline: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}