.wrapper {

}
.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}
.company__img {
    margin-bottom: 34px;
}
.company__title {
    max-width: 509px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 40px;
}
.company__text {
    max-width: 458px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
@media (max-width: 1200px) {
    .company {
        max-width: 342px;
        margin: 0 auto;
        padding: 64px 0;
    }

    .company__title {
        font-size: 40px;
        line-height: 40px;
    }
}