.elements-wrapper {
    padding: 120px 0;
    background-color: #FFFFFF;
    border-radius: 40px 40px 0 0;
}
.elements {
    display: grid;
    row-gap: 120px;
}
.elements-wireframe {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.elements-wireframe__img {

}
.elements-wireframe-info {

}
.elements-wireframe-info-title {
    color: #000000;
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}
.elements-wireframe-info-title__item {
    color: rgba(0, 0, 0, 0.24);
}
.elements-wireframe-info-description {
    display: grid;
    row-gap: 16px;
}
.elements-wireframe-info-description.bottom {
    max-width: 458px;
}
.elements-wireframe-info-description__text {
    color: #8D8F9A;
    font-size: 16px;
    line-height: 30px;
}
.elements-wireframe__img {

}
.elements-mobile {
    display: none;
}
@media (max-width: 1200px) {
    .elements {
        padding: 64px 0;
    }

    .elements-wireframe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 40px;
    }

    .elements-wireframe-info-title {
        font-size: 40px;
        line-height: 40px;
    }

    .elements-wireframe-info {
        max-width: 342px;
    }

    .elements-wireframe__img {
        display: inline-block;
        max-width: 256px;
    }

    .elements-wireframe.drop {
        display: none;
    }

    .elements-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 40px;
    }
}
