.features-wrapper {
    background-color: #FFFFFF;
    padding-bottom: 120px;
}
.features {

}
.features-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    row-gap: 40px;
}
.features-text__title {
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -0.03em;
}
.features-text__info {
    max-width: 498px;
    color: #8D8F9A;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.features-text__tel {
    background: #1C0BE0;
    border-radius: 58px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 32px;
}
.features-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.features-cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 24px 32px rgba(219, 222, 225, 0.2);
    border-radius: 24px;
}
.features-cards-item__img {
    margin-bottom: 30px;
}
.features-cards-item__title {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
}
.features-cards-item__text {
    text-align: center;
    color: #8D8F9A;
    font-size: 14px;
    line-height: 26px;
}
@media (max-width: 1200px) {
    .features-wrapper {
        padding-bottom: 88px;
    }
    .features-text {
        margin-bottom: 40px;
    }
    .features-text__title {
        font-size: 40px;
        line-height: 40px;
    }
    .features-text__info {
        max-width: 342px;
    }
    .features-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features-cards-item {

    }
    .features-cards-item__text {
        max-width: 262px;
    }
}