.hero-wrapper {
    border-radius: 0 0 40px 40px;
    background-color: #FFFFFF;
    position: relative;
}
.container {

}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
}
.hero__text {
    color: #4F68FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 32px;
}
.hero-title {
    max-width: 751px;
    color: #000000;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 32px;
}

.hero-title__item {
    color: rgba(0, 0, 0, 0.24);
}
.hero__info {
    max-width: 458px;
    color: #8D8F9A;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 64px;
}
.hero__img {
    display: inline-block;
    max-width: 826px;
}
.hero-tel {
    position: absolute;
    width: 56px;
    height: 56px;
    right: 20px;
    bottom: 20px;
}
@media (max-width: 1200px) {
    .hero {
        max-width: 342px;
        margin: 0 auto;
        padding-top: 64px;
    }
    .hero-title {
        font-size: 50px;
        line-height: 50px;
    }
    .hero__info {
        margin-bottom: 56px;
    }
    .hero-tel {
        display: none;
    }
    .hero__img {
        display: inline-block;
        max-width: 342px;
    }
}
