.subscribe-wrapper {
    padding-bottom: 294px;
    background: url("../../../img/pages/HomePage/subscribe/square.svg") 0 bottom / contain no-repeat #FFFFFF;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-text {
    color: #4F68FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}
.subscribe-title {
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}
.subscribe-info {
    max-width: 498px;
    color: #8D8F9A;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.subscribe-press {
    position: relative;

}
.subscribe-press__input {
    display: inline-block;
    max-width: 389px;
    padding: 20px 148px 20px 28px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.subscribe-press__input::placeholder {
    color: #000000;
    opacity: 0.4;
}
.subscribe-press__button {
    padding: 12px 20px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: #1C0BE0;
    border-radius: 58px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}
@media (max-width: 1200px) {
    .subscribe-wrapper {
        padding-bottom: 192px;
    }
    .subscribe-title {
        font-size: 40px;
        line-height: 40px;
    }
    .subscribe-info {
        max-width: 342px;
    }
    .subscribe-press__input {
        max-width: 342px;
    }

}
